    <button id="categoriesDialogCloseCross" type="button" class="close" data-dismiss="modal"  tabindex="999" title="{{strings.i18n_close}} {{strings.i18n_details}}" aria-label="{{strings.i18n_close}} {{strings.i18n_details}}"><span aria-hidden="true">&times;</span></button>
    <div class="addCategoryListLabel" >Categories:</div>
    <ul id="bookCurrentCategories">
        {{#categories}}<li data-category="{{.}}">{{.}}<span class="removeCategory">&times;</span></li>{{/categories}}
    </ul>


    <div class="addCustomCategorySection">
Add category:
<input type="text" id="customCategory" name="customCategory" />
<input type="hidden" id="rootDirHolder" name="rootDir" value="{{rootDir}}">
<button class="btn btn-info addCategory addCustomCategory">Add Category</button>
    </div>

    
<br>

<div class="addCategories">
    <h2>Add preset category:</h2>
    <div class="addCategorySection">
        <div class="addCategoryGroupLabel" >Class:</div>
        <div class="addStandards addCategoryGroup">
            <button class="btn btn-info addCategory">Class 1</button>
            <button class="btn btn-info addCategory">Class 2</button>
            <button class="btn btn-info addCategory">Class 3</button>
            <button class="btn btn-info addCategory">Class 4</button>
            <button class="btn btn-info addCategory">Class 5</button>
            <button class="btn btn-info addCategory">Class 6</button>
        </div>
    </div>
    <div class="addCategorySection">
        <div class="addCategoryGroupLabel" >Subject:</div>
        <div class="addSubjects addCategoryGroup">
            <button class="btn btn-info addCategory">C.R.E</button>
            <button class="btn btn-info addCategory">I.R.E</button>
            <button class="btn btn-info addCategory">English</button>
            <button class="btn btn-info addCategory">Kiswahili</button>
            <button class="btn btn-info addCategory">Mathematics</button>
            <button class="btn btn-info addCategory">Science</button>
            <button class="btn btn-info addCategory">Social Studies</button>
            <button class="btn btn-info addCategory">English Readers</button>
            <button class="btn btn-info addCategory">Kiswahili Readers</button>
        </div>
    </div>
</div>
